.about-content {
    display: flex;
    margin-top: 50px;
  }

#first-h2 {
    margin-top: 5%;
}

.column-image {
    flex: 1;
    margin-left: 100px;
}

.column-text {
    flex: 1;
    margin-right: 100px;
}

.text {
    text-align: left;
    padding: 0 20px;
}

.elegant-list {
    list-style-type: none;
    padding-left: 0;
}
  
.elegant-list li::before {
    content: "•";
    margin-right: 5px;
}

.elegant-list-first-p {
    margin-bottom: 5px;
}

.image img {
    width: 70%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

@media only screen and (max-width: 800px) {
    .column-image {
        margin: 0%;
    }

    #first-h2 {
        margin-top: 20%;
    }

    .column-text {
        margin: 0%;
    }

    .about-content {
        flex-direction: column;
    }

    .image img {
        width: 100%;
    }
}