/* --------------------------------------------------------------- */
/* Common properties */
.text {
    text-align: left;
    padding: 0 5%;

}

.bold {
    font-weight: bold;
}

/* --------------------------------------------------------------- */
/* Boxing */
.boxe-content {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  
.column-image-boxe {
    flex: 3;
}

.column-text-boxe {
    flex: 2;
    margin-left: -10%;
}

.image-groupe-boxe img {
    width: 50%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

.image-solo-boxe img {
    margin-top: 5%;
    width: 35%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

/* --------------------------------------------------------------- */
/* Self defense */
.self-defense-content {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  
.column-image-self {
    flex: 3;
    margin-left: -5%;
}

.column-text-self {
    flex: 2;
    margin-left: +15%;
}

.image-self img {
    width: 40%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

/* --------------------------------------------------------------- */
/* Button */
.button {
    margin-top: 2%;
    display: inline-block;
    padding: 20px 40px;
    background-color: #FF5500;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    max-width: 500px;
    font-size: 18px
  }
  
  .button:hover {
    background-color: #FF4400;
  }