#first-text {
  margin-top: 5%;
}

#contact-form-title {
  color: black
}

/* --------------------------------------------------------------- */
/* Image et texte côte à côte */
.contact-content {
  display: flex;
  align-items: center;
}

.column-image {
  flex: 1;
  margin-left: 100px;
}

.column-form {
  flex: 1;
  margin-right: 100px;
}

.image {
  text-align: center;
}

.image img {
  width: 60%; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Maintient le ratio d'aspect de l'image */
}

/* --------------------------------------------------------------- */
/* Style du conteneur principal du formulaire */
  form {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    /* background-color: #4f6e97; */
    border-radius: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  /* Style des étiquettes */
  .form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    align-self: flex-start;
  }
  
  /* Style des champs de saisie */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #message {
    height: 200px;
  }
  
  /* Style du bouton d'envoi */
  button[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

@media only screen and (max-width: 800px) {
  .text-contact {
    text-align: justify;
  }

  #first-text {
    margin-top: 25%;
  }

  .contact-content {
    flex-direction: column;
  }

  .image img {
    width: 80%;
    height: auto;
  }

  .column-image {
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: -30px;
  }

  .column-form {
    margin: 0px;
    width: 90%;
  }

  form {
    max-width: 100%;
  }
}