@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#avis-displayer {
    display: flex;
    justify-content: center;
}

.carte-avis {
    margin: 20px;
    text-align: justify;
    border-radius: 10px;
    border: 1px black solid;
    width: 30%; 
}

.checked {
    color: orange;
  }