.row {
  display: flex;
  align-items: center;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

.column {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column img {
  max-width: 100%;
  height: auto;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.text li {
  margin-left: 50px;
}

.bold {
  font-weight: bold;
}

.elegant-list {
  list-style-type: none;
  padding-left: 0;
}

.elegant-list li::before {
  content: "•";
  margin-right: 5px;
}

.elegant-list-first-p {
  margin-bottom: 5px;
}

.card {
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.card-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.card-content {
  padding: 10px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
