<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/assets/css/style.css"/>
    <link rel="stylesheet" href="../static/assets/css/a-propos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Coach Sportif Toulouse - CYCoaching</title>
</head>

<body>
    <header>
        <!-- <div id="logo">
            <img src="../static/assets/img/logo_cy_no_bg.png" alt="logo"/>
            <h1>CYCoaching</h1>
        </div> -->
        <nav>
            <ul id="menu">
                <li><a href="../index.html">Coaching</a></li>
                <li><a href="#">Qui suis-je ?</a></li>
                <li><a href="#">Résultats</a></li>
                <li><a href="tarif.html">Tarifs</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section id="about">
            <div class="container">
              <h2>À propos de moi</h2>
              <div class="about-content">
                <div class="column-image">
                  <div class="image">
                    <img src="../static/assets/img/a-propos.jpg" alt="Photo du coach CY Coaching">
                  </div>
                </div>
                <div class="column-text">
                  <div class="text">
                    <p>Je suis titulaire de deux Licences STAPS : Entrainement Sportif et Métiers de la Forme obtenues à Toulouse.</p>
                    <p class="bold">J'ai toujours eu à cœur d'aider les autres à atteindre leurs objectifs de bien-être ou de performance.
                    C'est la raison pour laquelle j'ai choisi ce métier qui me passionne.</p>
                    <p class="elegant-list-first-p">Je suis à même de t'encadrer sur différents objectifs :</p>
                    <ul class="elegant-list">
                        <li>Prise de masse musculaire</li>
                        <li>Remise en forme et tonification</li>
                        <li>Apprentissage technique en boxe pieds/poings</li>
                        <li>Self défense Féminine</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>          
    </div>

    <footer>
        <div class="footer-container">
          <div class="footer-links">
            <a href="index.html">Coaching</a>
            <a href="#">Qui suis-je ?</a>
            <a href="#">Résultats</a>
            <a href="tarif.html">Tarifs</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>
          </div>
          <div class="footer-social-icons">
            <a href="#"><i class="fab fa-instagram"></i> cycoaching</a>
            <a href="#"><i class="fas fa-phone"></i> 0612345678</a>
          </div>
        </div>
        <p class="footer-text">Cy Coaching</p>
    </footer>
</body>
</html>