<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/assets/css/common-style.css"/>
    <title>Coach Sportif Toulouse - CYCoaching</title>
</head>

<body>
    <header>
        <!-- <div id="logo">
            <img src="../static/assets/img/logo_cy_no_bg.png" alt="logo"/>
            <h1>CYCoaching</h1>
        </div> -->
        <nav>
            <ul id="menu">
                <li><a href="../index.html">Coaching</a></li>
                <li><a active href="#">Boxe</a></li>
                <li><a href="a-propos.html">Qui suis-je ?</a></li>
                <li><a active href="tarif.html">Tarifs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>

    </section>
</body>
</html>