<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/assets/css/common-style.css"/>
    <link rel="stylesheet" href="../static/assets/css/boxe.css"/>
    <title>Coach Sportif Toulouse - CYCoaching</title>
</head>

<body>
    <header>
        <!-- <div id="logo">
            <img src="../static/assets/img/logo_cy_no_bg.png" alt="logo"/>
            <h1>CYCoaching</h1>
        </div> -->
        <nav>
            <ul id="menu">
                <li><a href="../index.html">Coaching</a></li>
                <li><a active href="#">Boxe</a></li>
                <li><a href="a-propos.html">Qui suis-je ?</a></li>
                <li><a active href="tarif.html">Tarifs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section>
            <h2>Découvrir la boxe</h2>
            <div class="boxe-content">
                <div class="column-image-boxe">
                  <div class="image-groupe-boxe">
                    <img src="../static/assets/img/boxe-groupe.jpg" alt="Cours d'initiation à la boxe en groupe">
                  </div>
                </div>
                <div class="column-text-boxe">
                  <div class="text">
                    <p>Tu as envie de découvrir une nouvelle discipline qui te permette de te défouler, <span class="bold">d'évacuer ton stress et de bosser ton cardio ?</p>
                    <p>Alors j'ai ce qu'il te faut, je propose des cours de boxe pour débutant dans le but de te transmettre ma passion pour ce sport.</p>
                    <p>Mais également pour que tu puisses évacuer tout tes tracas du quotidien à travers une discipline incroyable.</p>
                  </div>
                </div>
            </div>

            <div class="image-solo-boxe">
                <img src="../static/assets/img/boxe-solo.jpg" alt="Cours d'initiation à la boxe en solo">
            </div>
            <a href="contact.html" class="button">Prêt(e) à mettre les gants ?</a>
        </section>

        <section class="contact">
        </section>

        <section>
          <h2>Découvrir le self defense</h2>
          <div class="self-defense-content">
            <div class="column-text-self">
              <div class="text">
                <p>Tu souhaite apprendre les rudiments d'un <span class="bold">self défense simple et efficace</span> afin d'optimiser ta sécurité ?</p>
                <p>Alors ne cherche pas plus loin, on abordera ensemble les notions de <span class="bold">prévention, de protection et de détermination</span>.</p>
                <p>Ces bases complétées d'un panel technique développé durant les séances seront éprouvées lors de mises en situation.</p>
              </div>
            </div>
            <div class="column-image-self">
              <div class="image-self">
                <img src="../static/assets/img/self-defense-coaching.jpg" alt="Cours d'initiation au self defense">
              </div>
            </div>
          </div>
        </section>
    </div>

    <footer>
        <div class="footer-container">
          <div class="footer-links">
            <a href="../index.html">Coaching</a>
            <a href="#">Boxe</a>
            <a href="a-propos.html">Qui suis-je ?</a>
            <a href="tarif.html">Tarifs</a>
            <a href="contact.html">Contact</a>
          </div>
          <div class="footer-social-icons">
            <a href="#"><i class="fab fa-instagram"></i> cycoaching</a>
            <a href="#"><i class="fas fa-phone"></i> 0612345678</a>
          </div>
        </div>
        <p class="footer-text">CY Coaching</p>
      </footer>

</body>
</html>