<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/assets/css/common-style.css"/>
    <link rel="stylesheet" href="../static/assets/css/contact.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Coach Sportif Toulouse - CYCoaching</title>
</head>

<body>
    <header>
        <nav>
            <ul id="menu">
                <li><a href="../index.html">Coaching</a></li>
                <li><a href="boxe.html">Boxe</a></li>
                <li><a href="a-propos.html">Qui suis-je ?</a></li>
                <li><a active href="tarif.html">Tarifs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
      <section>
        <div class="text">
          <p>Je suis disponible pour du coaching à domicile ou en salle.</p>
          <p>Si tu souhaites progresser et t'épanouir dans une pratique sportive ludique et personnalisée, contacte moi ! </br>
          Tu peux me contacter au 0612345678 ou en remplissant le formulaire de contact, je m'engage à te répondre dans les plus bref délais.</p>
          <p>À bientôt !</p>
        </div>
      </section>
      <section>
        <div id="contact" class="container">
          <div class="contact-content">
            <div class="column-image">
              <div class="image">
                <img src="../static/assets/img/contact.jpg" alt="Photo du coach CY Coaching pendant une séance coaching">
              </div>
            </div>
            <div class="column-form">
              <form action="https://formspree.io/f/mbjenzqk" method="POST">
                <div class="form-group">
                  <label for="nom">Ton nom</label>
                  <input type="text" id="nom" name="nom" required>
                </div>
                
                <div class="form-group">
                  <label for="email">Ton e-mail</label>
                  <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-group">
                  <label for="sujet">Ton téléphone</label>
                  <input type="text" id="telephone" name="telephone" required>
                </div>
                
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea id="message" name="message" required></textarea>
                </div>
                
                <div class="form-group">
                  <button type="submit">Envoyer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer>
        <div class="footer-container">
          <div class="footer-links">
            <a href="../index.html">Coaching</a>
            <a href="boxe.html">Boxe</a>
            <a href="a-propos.html">Qui suis-je ?</a>
            <a href="tarif.html">Tarifs</a>
            <a href="#">Contact</a>
          </div>
          <div class="footer-social-icons">
            <a href="#"><i class="fab fa-instagram"></i> cycoaching</a>
            <a href="#"><i class="fas fa-phone"></i> 0612345678</a>
          </div>
        </div>
        <p class="footer-text">Cy Coaching</p>
    </footer>
</body>
</html>